*.o
*.la
*.lo
*.guess
libtool
ltmain.sh
stamp-h1
missing
configure
depcomp
compile
config.h*
install-sh
aclocal.m4
config.log
config.status
config.sub
config/plugin.ac
config/pandora_vc_revinfo
config/top.h
Makefile
Makefile.in
autom4te.cache/
coroebus/.deps/
coroebus/.dirstamp
coroebus/.libs/
coroebus/configure.h
cassandra/.deps/
cassandra/.dirstamp
cassandra/.libs/
cassandra/configure.h
tests/.deps
tests/.dirstamp
tests/.libs
tests/tests
